{% extends "baselayout.html" %}
{% block title %}
    Password Reset
{% endblock %}

{% block init_scripts %}            
<script type="text/javascript" src="{{ url_for('static', filename='js/VRD/useradmin.js') }}"></script>
<script>
    function initialize(){
        try{
            // Initialize all values            
            alertify.success("Welcome to the Password Reset Form");
        }catch (e) {
            e= 'You received an error on startup:  ' + e;
            general_error(e);
        }
    }
</script>
{% endblock %}

{% block content %}
    <div class="sub-nav hidden-sm hidden-xs">
        <ul>
            <li><a href="" class="heading">Passowrd Reset Form</a></li>  <!--Main Form for Data Entry-->
            <li class="hidden-sm hidden-xs">
                <a href="#RemoveAbleDiv_Cust"></a>
            </li>
            <li class="hidden-sm hidden-xs">
                <a href="#"></a>
            </li>
            <!--<li class="hidden-sm hidden-xs">
                <a href="#inputs">Status of Upload</a>
            </li>-->
        </ul>
        <div class="custom-search hidden-sm hidden-xs">
            <input type="text" class="search-query" placeholder="Search here ...">
            <i class="fa fa-search"></i>
        </div>
    </div>
    <div class="dashboard-wrapper">
        <div class="left-sidebar">
            <div class="col-lg-12 col-md-12">
                <div class="widget">
                    <div class="widget-header">
                        <div class="title">
                            Password Reset
                            <span class="mini-title">
                                Enter Password<a id="enter-deal-single"></a>
                            </span>
                        </div>
                    </div>
                    <div class="widget-body">   
                        <div class="row">
                            
                        </div>                                         
                        <div class="row">
                            <div class="col-sm-12">                               
                                <div class="col-sm-6">
                                    <label for="userName" class="col-sm-4 control-label">Password</label>                                    
                                    <input type="text" class="form-control" id="txtPassword1" placeholder="-Password-">                                    
                                </div>     
                                <div class="col-sm-6">
                                    <label for="userName" class="col-sm-4 control-label">Re-enter Password</label>                                    
                                    <input type="text" class="form-control" id="txtPassword2" placeholder="-Password-">                                    
                                </div>                                                                                        
                            </div>
                        </div>
                        <div class="row">
                                <div class="col-lg-12">
                                    <div class="col-lg-6">                                                                            
                                        <button type="button" class="btn btn-info" onclick="useradmin_update_password()">Save</button>
                                    </div>
                                </div>                                                        
                            </div>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}    
